@import './reset.css';


body {
    background-color: aqua;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
#TODO_list_section {
    
    background-color: blueviolet;
    width: 50rem;
    margin-top: 5rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1.5rem;
}
.new_task_total {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    
}
.new_task_total #input_task {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
.new_task_total i {
    color: var(--light-color);
    font-size: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    
}
.new_task_total i:hover {
    color: blueviolet;
    background-color: var(--light-color);
}
form button {
    border-radius: 1rem;
    background-color: blueviolet;
    transition: all 0.3s ease-in-out;
}
form button:hover {
    transform: scale(1.1);
}
.title_total {
    width: 100%;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.title_total .tasks_ul {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_total .tasks_ul .tasks_item {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: blue;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    
}
.tasks_item span.title-span {
    max-width: 20rem;
    color: snow;
    overflow: hidden;
}

.clear_tasks {
    width: 30rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}
.clear_tasks p {
    font-size: 1.6rem;
}
.clear_tasks button {
    background-color: #000;
    color: var(--light-color);
    padding: 1rem;
    border-radius: 1rem;
}

button, i {
    cursor: pointer;
}
i.delete {
    color: snow;
}
